.passion {
  background-image: url("svgs/prys-en.svg");
}
.con-passion div {
  top: -46px;
  left: 103px;
}
.pass-bott {
  background-image: url("svgs/mis-en.svg");
}
.con-passion div {
  top: -47px;
  left: 155px;
}
.butt-footer {
  width: calc(100% + 30px);
  margin: 50px 0px 30px;
}
@media (max-width: 600px) {
  .butt-footer {
    width: auto;
  }
  .main-title {
    padding-top: 80px;
    text-align: center;
  }
  .what-else-text div {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    font-family: rf_dewi_ex_bold;
    font-size: 28px;
  }
}
