.passion {
  background-image: url("svgs/prys-uk.svg");
}
.con-passion div {
  top: -46px;
  left: 103px;
}
.pass-bott {
  background-image: url("svgs/mis-uk.svg");
}
.con-passion div {
  top: -47px;
  left: 155px;
}
